
<h2><%= @brand.name.capitalize %></h2>

<p>There are <%= @brand.products.count %> product in this category.</p>

<h3>Product in <%= @brand.name.capitalize %> are: </h3>
<% if @brand.products.empty? %>
  <p> There are no products in this brand</p>
<% else%>
  <table>
  <tr>
    <th>Image</th>
    <th>Product Name</th>
    <th>Price</th>
  </tr>
  <% @brand.products.each do |product|%>
    <tr>
    <td><img src=<%= product.image_link %> alt="Image not found" width="200" height="100" onerror="this.onerror=null;this.src='http://www.purpicks.com/wp-content/uploads/2018/03/lotus-cosmetics-usa-eye-shadow-palette-smokey.png';" /></td>
    <td><%= link_to product.name.capitalize , product_path(product)%> </td>
    <td>$<%= product.price %></td>
    </tr>
  <% end %>
    </table>

<% end %>

<p> <%= link_to "Home", root_path%> </p>