<h2 class="title is-3"><%= @category.name.capitalize %></h2>
<p class="content is-medium has-text-grey-darker">There are <%= @category.products.count %> product in this category.</p>
<p class="content is-medium has-text-grey-darker">Product in <%= @category.name.capitalize %> are: </p>

<% if @category.products.empty? %>
  <p> There are no products in this category</p>
<% else%>
  <div class="row">
    <% @category.products.each do |product|%>
      <div class="col ">
    <div class="card border-light mb-3" >
      <img src="<%= product.image_link %>"  alt="Image not found" width="200" height="150" onerror="this.onerror=null;this.src='http://www.purpicks.com/wp-content/uploads/2018/03/lotus-cosmetics-usa-eye-shadow-palette-smokey.png';" />
      <div class="card-body">
        <h5 class="card-title"> <%= product.name.capitalize %></h5>
        <p class="card-text"><strong>Price:</strong> $<%= product.price %></p>
        <p class="card-text"><strong>Made in:</strong> <%= product.country %></p>
        <%= link_to "Find Out More" , product_path(product)%>
      </div>
    </div>
            </div>
      <% end %>
</div>
<% end %>

<p> <%= link_to "Home", root_path%> </p>