<% if @products.empty?  %>
  <p>There are no categories available.</p>
<% else%>

<%= paginate @products %>



    <div class="row">

        <% @products.each do |product|%>
         <div class="col">
        <div class="card" >
          <img src="<%= product.image_link %>"  alt="Image not found" width="200" height="150" onerror="this.onerror=null;this.src='http://www.purpicks.com/wp-content/uploads/2018/03/lotus-cosmetics-usa-eye-shadow-palette-smokey.png';" />
          <div class="card-body">
            <h5 class="card-title"> <%= product.name.capitalize %></h5>
            <p class="card-text"><strong>Price:</strong> $<%= product.price %></p>
            <p class="card-text"><strong>Made in:</strong> <%= product.country %></p>
            <%= link_to "Find Out More" , product_path(product)%>
          </div>
        </div>
               </div>
          <% end %>
   </div>
  <%= paginate @products %>
<% end%>