<% if @products.empty?  %>
  <p>There are no categories available.</p>
<% else%>
  <div class="columns">
      <div class="column"><%= pagy_bulma_nav(@pagy).html_safe %></div>
    </div>
<div class="columns is-multiline">
  <% @products.each do |product|%>

    <div class="column" >
     <div class="card">
        <div class="card-content">
          <p class="subtitle">
            <%= link_to product.name.capitalize , product_path(product)%>
          </p>
          <p class="title">
          <img src="<%= product.image_link %>" alt="Image not found" width="200" height="100" onerror="this.onerror=null;this.src='http://www.purpicks.com/wp-content/uploads/2018/03/lotus-cosmetics-usa-eye-shadow-palette-smokey.png';" />
          </p>

        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              Price: $<%= product.price %>
            </span>
          </p>
          <p class="card-footer-item">
            <span>
              Made in <%= product.country %>
            </span>
          </p>
        </footer>
      </div>
  </div>
  <% end %>
</div>

   <div class="columns" id = "nav">
      <div class="column"><%= pagy_bulma_nav(@pagy).html_safe %></div>
    </div>
<% end%>