<!DOCTYPE html>
<html>
  <head>
    <title>Makeup Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1>Full Stact Make Up Project</h1>
    <p> <%= link_to "Home", root_path%> </p>
    <%= yield %>
  </header>
  <footer>
    Patrick 2020 Full Stack Project
  </footer>
  </body>
</html>
