<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Makeup Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar has-background-grey-light" role="navigation" aria-label="main navigation">
      <div class="navbar-start">

          <%= link_to "Products", root_path, class: "navbar-item"%>
          <%= link_to "Categories", categories_path, class: "navbar-item"%>
          <%= link_to "Brands", brands_path,class: "navbar-item"%>
          <%= link_to "Tags", tags_path,class: "navbar-item"%>
          <%= link_to "About", permalink_path('about_us'),class: "navbar-item"%>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
              <%= render partial: 'shared/search' %>
        </div>
      </div>

  </nav>



  <%= yield %>



<footer class="footer">
  <div class="content has-text-centered">
    Patrick 2020 Full Stack Project
    <p>
      <strong>Makeup Project</strong> by Patrick Jiang. The source code is on
      <a href="https://github.com/patrickjcode/Makeup_Project">Github</a>.
    </p>
  </div>
</footer>
  </body>
</html>
