<!DOCTYPE html>
<html>
  <head>
    <title>Makeup Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>

  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-start">

          <%= link_to "Products", root_path, class: "navbar-item"%>
          <%= link_to "Categories", categories_path, class: "navbar-item"%>
          <%= link_to "Brands", brands_path,class: "navbar-item"%>
          <%= link_to "Tags", tags_path,class: "navbar-item"%>
          <%= link_to "About", permalink_path('about_us'),class: "navbar-item"%>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
              <%= render partial: 'shared/search' %>
        </div>
      </div>

  </nav>



  <%= yield %>

  </body>

  <footer>
    Patrick 2020 Full Stack Project
  </footer>

</html>
