<!DOCTYPE html>
<html>
  <head>
    <title>Makeup Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1>Full Stact Make Up Project</h1>
    <p> <%= link_to "Products", root_path%> |
        <%= link_to "Categories", categories_path%> |
         <%= link_to "Brands", brands_path%> |
         <%= link_to "Tags", tags_path%> |
         <%= link_to "About", permalink_path('about_us')%></p>


  </header>
     <%= yield %>
  <footer>
    Patrick 2020 Full Stack Project
  </footer>
  </body>
</html>
